/* extra.css */

.bg-primary
{
  background-color: darkolivegreen !important;
  background-image: linear-gradient(forestgreen, green);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
  margin: 0.5em auto;
}

p
{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

pre
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* a */

a:link
{
  color: green;
}

a:visited
{
  color: darkgreen;
}

a:hover
{
  color: limegreen;
  text-decoration: underline;
}

a:active
{
  color: darkolivegreen;
  text-decoration: underline;
}

.table
{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

th
{
  text-align: center;
  vertical-align: middle !important;
}

p
{
  margin-bottom: unset !important;
}

ul
{
  margin-top: unset !important;
  margin-bottom: unset !important;
}

blockquote
{
  background-color: #f0f0f0;
  font-style: italic;
  padding: 10px;
  margin: 10px;
}

details
{
  border: 1px dotted OliveDrab;
  box-shadow: 1px 1px 2px #bbbbbb;
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: left;

  color: DarkOliveGreen;
  background-color: #bbccaa;
  border-color: Olive;
}

details > summary
{
  padding: 0.5em;
  width: 99%;
  color: DarkOliveGreen;
  font-weight: bold;
  background-color: #bbccaa;
  border: 1px solid transparent;
  border-radius: 4px;
}

.admonition {
  padding: 0.5em;
  margin: 1em auto;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
}

/* div.note */

div.note a:link
{
  color: blue;
}

div.note a:visited
{
  color: navy;
}

div.note a:hover
{
  color: skyblue;
}

div.note a:active
{
  color: cornflowerblue;
}

/* div.warning */

div.warning a:link
{
  color: darkgoldenrod;
}

div.warning a:visited
{
  color: darkkhaki;
}

div.warning a:hover
{
  color: gold;
}

div.warning a:active
{
  color: coral;
}

/* div.danger */

div.danger a:link
{
  color: red;
}

div.danger a:visited
{
  color: darkred;
}

div.danger a:hover
{
  color: crimson;
}

div.danger a:active
{
  color: tomato;
}

.yes
{
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

.no
{
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

.title-image
{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.affix
{
  overflow-y: scroll;
  max-height: 85vh;
}

.text-border
{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.black
{
  color: black;
}

.gray
{
  color: darkgray;
}

.red
{
  color: red;
}

.green
{
  color: green;
}

.blue
{
  color: blue;
}

.orange
{
  color: darkorange;
}

.purple
{
  color: RebeccaPurple;
}

.gold
{
  color: gold;
  font-weight: bold;
}

.monospace
{
  font-family: 'Courier New', Courier, monospace;
}

.bold
{
  font-weight: bold !important;
}

.italic
{
  font-style: italic !important;
}

.underline
{
  text-decoration-line: underline;
  text-decoration-style: solid;
}
